<div class="container">

  <!-- Listening to the Custom Events: "serverCreated" and "blueprintCreated" -->
  <app-cockpit
    (serverCreated) = "onServerAdded($event)"
    (blueprintCreated) = "onBlueprintAdded($event)"
  >    
  </app-cockpit>

  <hr>
  
  <div class="row">
    <div class="col-xs-12">

      <!-- Inject serverElement object into Child property "srvElement" -->
      <app-server-element 
        *ngFor="let serverElement of serverElements"
        [srvElement] = "serverElement">      
      </app-server-element>
      
    </div>
  </div>
</div>
